/* General Hero Splash Section */
#hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-size: cover;
}

/* Text Styling */
#hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: white;
}

#hero .highlight {
    color: #0085cc;
}

#hero .sub-title {
    font-size: 1.2rem;
    color: #aaa;
    margin-top: 10px;
}

/* Animated Text Styling */
#animated-text {
    color: #0085cc; /* Blue text */
    font-size: 1.5rem;
    opacity: 0; /* Start hidden */
    transition: opacity 1s ease-in-out; /* Smooth fade transition */
}

/* Scroll Button */
.scroll-indicator {
    position: absolute;
    bottom: 75px; /* Adjust position slightly above the bottom */
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: white;
    z-index: 2;
    cursor: pointer;
    animation: bounce 1.5s infinite; /* Adds bounce effect */
}

.scroll-indicator a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth transition on hover */
}

.scroll-indicator a:hover {
    color: #1e90ff; /* Changes color to blue on hover */
}

.scroll-indicator i {
    font-size: 1.5rem;
}

/* Bounce Animation */
@keyframes bounce {
    0%, 100% {
        transform: translate(-50%, 0);
    }
    50% {
        transform: translate(-50%, 10px);
    }
}


/* Fade animation */
@keyframes fade {
    0%, 75% { opacity: 1; }    /* Visible for 3 seconds */
    80%, 100% { opacity: 0; }  /* Fade-out over 1 second */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    #hero h1 {
        font-size: 2rem;
    }

    #hero .sub-title {
        font-size: 1rem;
    }

    #animated-text {
        font-size: 1.2rem;
    }
}
